@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar{
    width: var(--main-sidebar-width);
    background-color: var(--background-color1);
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-right: 1px solid #dcdcdc;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.links > li > i {
    font-size: 20px;
}

.link.active{
    background-color: #0d6efd;
    color: #fff;
    width: 40px;
    height: 40px;
}

.link{
    color: var(--text-primary);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:not(.active):hover{
    background-color: var(--light-background)
}

.topNav{
    position: fixed;
    /* z-index: 100; */
    width: calc(100% - var(--main-sidebar-width));
    height: 56px;
    background-color: var(--background-color1);
    right: 0;
    border-bottom: 1px solid #dcdcdc;
}

.topNav > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.topNav > .container > .left{
    cursor: pointer;
}

.topNav > .container > .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search{
    border-radius: 50px;
    background-color: #e9eef5;
    outline: none;
    text-indent: 20px;
    height: 30px;
    width: 150px;
    transition: width .5s;
    text-overflow: ellipsis;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #e9eef5;
    background-color: #e9eef5;
    width: 220px;
    transition: width .5s;
}

.fa-sun{
    color: #FFAE42;
    font-size: 20px;
    cursor: pointer;
}

.page{
    position: absolute;
    margin-left: var(--main-sidebar-width);
    margin-top: 3.55rem;
    width: calc(100% - var(--main-sidebar-width));
    z-index: -1;
    background-color: #F8FAFC;
}

.title{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-primary);
}

.fa-palette{
    color: #0d6efd;
    font-size: 20px;
    cursor: pointer;
}

.fa-bell{
    font-size: 20px;
    cursor: pointer;
}

.fa-chart-pie{
    color: #0d6efd;
    font-size: 20px;
    cursor: pointer;
}

.fa-arrows-rotate{
    color: #C1C8D1;
    font-size: 14px;
}

.fa-ellipsis{
    color: rgb(255, 115, 138);
    font-size: 20px;
    cursor: pointer;
}

.topTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.toggler{
    background-color: #E2E8F0;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.toggler p {
    margin-bottom: 0;
}

.month.active, .year.active{
    background-color: var(--light-background);
    width: 100px;
    border-radius: 5px;
}

.price{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 32px;
}

.priceTimer{
    font-size: 12px;
    line-height: 16px;
    color: #94A3B8;
    font-weight: 400;
}

.btn-secondary{
    color: #334155;
    font-size: 13px;
    background-color: #E9EEF5;
    border-radius: 50px;
    font-weight: 600;
}

.btn-secondary > .fa-file-arrow-down{
    margin-right: 5px;
}

.btn-secondary:hover{
    color: #334155;
    background-color: #cbd5e1;
}

.home-card{
    width: 250px;
    border: none;
    background-color: transparent;
    padding: 20px;
}

.priceContainer > p {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 28px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.icomecard{
    background-color: #E9EEF5;
    width: 200px;
    border-radius: 5px;
    height: 80px;
}

.fa-indian-rupee-sign{
    color: #0d6efd;
    font-size: 12px;
}

.page-title{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.page-title::before{
    content: "";
    position: absolute;
    top: 30px;
    height: 3px;
    width: 47px;
    border-radius: 8px;
    background-color: #0d6efd;
}

.model form .form.first .details .title{
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
    margin-bottom: 8px;
}

form .form.first .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .form.first .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0px;
}

form .form.first .fields .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #334155;
}

form .form.first .fields .input-field input, form .form.first .fields .input-field select{
    height: 40px;
    margin: 8px 0px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

form .form.first .fields .input-field input:is(:focus, :valid), form .form.first .fields .input-field select:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}