@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
  --light-background: #f3f3f9;
  --text-primary: #192132;
  --main-sidebar-width: 4.5rem;
  --background-color1: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body{
  background-color: var(--light-background);
  width: 100%;
  position: absolute;
}

li{
  list-style: none;
}
